#hi{
    margin-top: 10px;
}
body{
    text-align: center;
}
#seemore{
    width: 220px;
    height: 220px;
    margin: auto;
    
    text-align: left;
   
}
#get{
    margin-top: 5px;
}
#twoer{
    padding-left: 2%;
    display: none;

}
#oner{
    padding-left: 2%;
    padding-top: 1%;
}
#just{
    position: relative;
    bottom: 0%;
    right: -65.5%;
    top: -16.5%;
    width: 40;
    
}
#yust{
    position: relative;
    display: none;
    left: 0%;
    top: 0%;
    
}